<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg">
    <div class="abc">
       <p>{{this.days}}</p>
       <span>No of days</span>
    </div>
    <div class="abc2">
        <p>{{this.liters}}</p>
        <span>No of Liters</span>
    </div>
    <div class="abc3">
        <p>{{this.amount|currency:'INR'}}</p>
        <span>Amount Received</span>
    </div>
    <div class="abc4">
        <p>{{this.balance|currency:'INR'}}</p>
        <span>Pending Amount</span>
    </div>
</div>
</body>
</html>