<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
  <div class="about">
    <h2>About us </h2>
  </div>
   <div class="container-fluid" width="300px" height="400px">
  <owl-carousel-o [options]="customOptions">  
    <ng-template carouselSlide><img src="../../../assets/milk1.jpg " width="100%" height="500px"  > </ng-template>  
    <ng-template carouselSlide><img src="../../../assets/cow4.jpg" width="100%" height="500px" ></ng-template> 
    <ng-template carouselSlide><img src="../../../assets/center.jpg" width="100%" height="500px"></ng-template>
    <ng-template carouselSlide><img src="../../../assets/items.jpg" width="100%" height="500px"></ng-template>     
  </owl-carousel-o>
   </div>
  
</body>
</html>