<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Userid</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Password</th>
                    <th scope="col">Phoneno</th>
                    <th scope="col">Village</th>
                    <th scope="col">Mandal</th>
                    <th scope="col">District</th>
                    <th scope="col">State</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">Gender</th>
                    <th scope="col">RegisterDate</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of seller;index as k">
                    <th scope="row">{{(k+1)}}</th>
                    <td>{{st.name}}</td>
                    <td>{{st.email}}</td>
                    <td>{{st.usercode}}</td>
                    <td>{{st.username}}</td>
                    <td>{{st.password}}</td>
                    <td>{{st.phoneno}}</td>
                    <td>{{st.village}}</td>
                    <td>{{st.mandal}}</td>
                    <td>{{st.District}}</td>
                    <td>{{st.state}}</td>
                    <td>{{st.zipcode}}</td>
                    <td>{{st.gender}}</td>
                    <td>{{st.RegisterDate | date}}</td>
                    <td><button class="btn btn-outline-primary" (click)="openform(st)">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="delete(st.usercode)">Delete</button></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="container" *ngIf="show">
        <button class="btn2 btn-outline-danger" (click)="closeform()">Close</button>
        <div class="title">Edit Seller Details</div>

        <form [formGroup]="sellerdata" (ngSubmit)="reg(sellerdata.value)">
            <div class="user">
                <div class="input">
                    <span class="details">FullName</span>
                    <input type="text" placeholder="Enter name" name="Fullname" formControlName="name" required>
                </div>
                <div class="input">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter Email" name="Email" formControlName="email" required>
                </div>
                <div class="input">
                    <span class="details">UserName</span>
                    <input type="text" placeholder="Enter Username" name="User" formControlName="username" required>
                </div>
                <div class="input">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter password" name="pass" formControlName="password" required>
                </div>
                <div class="input">
                    <span class="details">Usercode</span>
                    <input type="text" placeholder="usercode" name="usercode" formControlName="usercode" required>
                </div>
                <div class="input">
                    <span class="details">phonenumber</span>
                    <input type="text" placeholder="phonenumber" name="phno" formControlName="phoneno" required>
                </div>
                <div class="input">
                    <span class="details">street</span>
                    <input type="text" placeholder="street" name="street" formControlName="street" required>
                </div>
                <div class="input">
                    <span class="details">Village</span>
                    <input type=" text" placeholder="village" name="Village" formControlName="village" required>
                </div>
                <div class="input">
                    <span class="details">Mandal</span>
                    <input type=" text" placeholder="mandal" name="mandal" formControlName="mandal" required>
                </div>
                <div class="input">
                    <span class="details">District</span>
                    <input type="text" placeholder="District" name="District" formControlName="District" required>
                </div>
                <div class="input">
                    <span class="details"> State</span>
                    <input type=" text" placeholder="State" name="State" formControlName="state" required>
                </div>
                <div class="input">
                    <span class="details">Zipcode</span>
                    <input type=" text" placeholder="zipcode" name="Zipcode" formControlName="zipcode" required>
                </div>
                <div class="genreg">
                    <div class="gender-details">
                        <label class="ab">Gender</label> <br>
                        <input type="radio" name="gender" value="male" formControlName="gender">Male
                        <input type="radio" name="gender" value="female" formControlName="gender">Female
                        <input type="radio" name="gender" value="other" formControlName="gender">Other
                    </div>

                </div>
            </div>
            <div class="button">
                <input type="submit" value="Update">
            </div>
        </form>
    </div>

</body>

</html>