*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:90vh;
    background-image:url('../../../assets/mkc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
     
}
 
.display{
    transform: translate(14%,70%);
    width:1000px;
    background-color:#f1ece5e0;
}
 